* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.card {
    padding: 10px;
    border: 1px solid #ebebeb;
    width: 322px;
    -moz-box-shadow: 5px 5px 7px #ebebeb;
    -webkit-box-shadow: 5px 5px 7px #ebebeb;
    box-shadow: 5px 5px 7px #ebebeb;
}

.fact {
    font-style: italic;
}

.info {
    width: 300px;
    padding: 0 10px 10px;
    border: 1px solid #ebebeb;
    margin-top: 10px;
}

.items {
    list-style-type: none;
    padding: 0;
}

.items span {
    font-weight: bold;
}